.bg-black.text-white Home#show
p.lime Find me in app/views/home/show.html.slim
div[data-controller="hello"]

/ [Error] TypeError: Module specifier, 'application' does not start with "/", "./", or "../". Referenced from http://localhost:3000/home/show
/   promiseReactionJob